/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
  }
  
  /*
   * Remove text-shadow in selection highlight:
   * https://twitter.com/miketaylr/status/12228805301
   *
   * Vendor-prefixed and regular ::selection selectors cannot be combined:
   * https://stackoverflow.com/a/16982510/7133471
   *
   * Customize the background color to match your design.
   */
  
  ::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  ::selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  /*
   * A better looking default horizontal rule
   */
  
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }
  
  /*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */
  
  audio,
  canvas,
  iframe,
  img,
  svg,
  video {
    vertical-align: middle;
  }
  
  /*
   * Remove default fieldset styles.
   */
  
  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }
  
  /*
   * Allow only vertical resizing of textareas.
   */
  
  textarea {
    resize: vertical;
  }
  
  /* ==========================================================================
     Author's custom styles
     ========================================================================== */
  
     /* 
     4d22ff bleu je m'inscris
     2b345d bleu encart
     22ffdd bleu candidat
     162049 bleu texte 
     */
  
  /************** define the fonts to be used *******************/
  @font-face {
    font-family: 'Gotham';
    src: url('../font/GothamBlack.woff2') format('woff2'),
        url('../font/GothamBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Muli';
    src: url('../font/Muli.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }
  
  /************** Extra small  ::  viewports < 576 **************/
  
    /*** Extra small  ::  viewports < 576   ::  General rules ***/
    * {
      font-family: 'Muli';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      color: #162049;
      padding: 0%;
      margin: 0%;
    }
  
    body {
      background-image:url(../img/splash-general-3.png);
    }
  
    nav {
      text-align: center;
      padding-top: 15px;
      height:9vh;
      position: relative;
      /* background-color: crimson; */
    }
  
    ul {
      display: none;
    }

    header {
      /* padding-left: 15px;
      padding-right: 15px; */
      /* margin-bottom: 72px; */
      height: 87vh;
      width: 92%;
      padding-top: 15px;
      margin: auto;
      /* background-color: goldenrod; */
    }

    header img {
      width: 500px;
      height: auto;
    }
    
    header > p {
      color: #000000;
      text-align: left;
    }

    main {
      text-align: center;
    }
  
    section {
      padding-top: 2.5em;
    }
  
    section > p {
      padding-top: 0.7em;
      padding-bottom: 0.6em;
      line-height: 1.1em;
    }
  
    footer {
      background-color: #eeeeee;
      width: 72%;
      margin: auto;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 30px;
      /* height: 25em; */
      height: auto;
    }
  
    footer > p {
      font-size: 16px;
    }
  
    h1, h2, h3, h4, h5 {
      font-family: 'Gotham';
      font-weight: 900;
      font-style: normal;  
    }
  
    h1  {
      font-size: 46px;
      color: #162049;
      line-height: 1em;
    }
   
    h2  {
      font-size: 36px;
      color: #162049;
      line-height: 1.1em;
    }
    
    h3  {
      font-size: 18px;
      color: #162049;
      line-height: 3em;
    }
    
    h4  {
      font-size: 36px;
      color: #ffffff;
      line-height: 1em;
      margin-bottom: 0.7em;
    }
    
    h5  {
      font-size: 20px;
      color: #22ffdd;
      line-height: 1em;
    }
    
    p {
      /* color: #212121; */
      font-size: 26px;
      padding-bottom: 1.9em;
      text-align: center;
    }
  
    a {
      margin-top: 5em;
      text-decoration: none;
      font-size: 26px;
      background: #4d22ff;
      color: #ffffff;
    }

    ul {
      display: none;
      list-style-type: none;
      justify-content: flex-end;
      margin: 1em;  
    }

    ul a {
      margin-top: 5em;
      text-decoration: none;
      font-size: 18px;
      background: #ffffffff;
      color: #000000;
    }

    ul li {
      padding-left: 5px;
      margin-left: 10px;
    }

  
    /*** Extra small  ::  viewports < 576   ::  Utility class ***/
    .statistiques {
      /* background-color: greenyellow; */
      height: 6em;
    }
  
    .smallP {
      font-size: 18px;
      text-align: justify;
      width: 70%;
      margin: auto;
      padding-bottom: 0.7em;
    }
  
    .lastP {
      font-size: 18px;
      text-align: justify;
      width: 70%;
      margin: auto;
      padding-bottom: 2.3em;
    }
  
    .picto {
      max-width: 250px;
      height: auto;
      padding-bottom: 0.7em;
    }
  
    .smallPicto {
      /* max-width: 200px; */
      width: 200px;
      height: auto;
    }

    .bigPicto {
      width: 250px;
    }
  
    .secondBg {
      background-color: #2b345d;
    }
  
    #algo {
      background-color: #eee9fa;
      /* height: 99em; */
      height: auto;
      padding-bottom: 30px;
      margin-bottom: 50px;
    }

    #job {
      /* height: 100em; */
      height: auto;
      margin-bottom: 50px;
    }

    .btn {
      padding: 7px 25px;
      border-radius: 25px;
    }  
  
    .smallbtn {
      padding: 6px 25px;
      border-radius: 25px;
      font-size: 20px;
    }

    .flex {
      display: flex;
    }

    .center {
      justify-content: center;
      align-items: center;
    }

    .left {
      text-align: left;
    }

    .spaced {
      justify-content: space-around;
      align-items: center;
    }

    .wrap {
      flex-wrap: wrap;
    }

    .desktopOnly {
      display: none;
    }

    /*** Extra small  ::  viewports < 576   ::  Specific class ***/
    #burger {
      margin: 0;
      background-color: #ffffff;;
      position: absolute;
      top: 20px;
      left: 20px;
    }
  
    #logo {
      height: 40px;
      width: auto;
    }
  
    #insert {
      height: 21em;
      padding-top: 3em;
      margin: auto;
      vertical-align: auto;
    }

    @media screen and (min-width: 530px){
      article {
        max-width: 360px ;
      }

      #insert {
        display: flex;
        justify-content: space-around;
        height: 8.2em;
      }
  

  /************** Extra small  ::  viewports >= 576 *************/
  @media screen and (min-width: 576px){
    /******* Medium   ::  viewports < 768   ::  General rules ***/
    /******* Medium   ::  viewports < 768   ::  Utility class ***/
    /******* Medium   ::  viewports < 768   ::  Common class  ***/
  }
  /************** Extra small  ::  viewports >= 768 *************/
  @media screen and (min-width: 768px){
    /******** Large   ::  viewports < 992   ::  General rules ***/
    /******** Large   ::  viewports < 992   ::  Utility class ***/
    /******** Large   ::  viewports < 992   ::  Common class  ***/
  }
  /************** Extra small  ::  viewports >= 992 *************/
  @media screen and (min-width: 992px){
    /*** Extra large  ::  viewports < 1200  ::  General rules ***/
    /*** Extra large  ::  viewports < 1200  ::  Utility class ***/
    /*** Extra large  ::  viewports < 1200  ::  Common class  ***/
  }
  /************** Extra small  ::  viewports < 1200px ***********/
  @media screen and (min-width: 1200px){
    /*** Extra large  ::  viewports > 1200  ::  General rules ***/
    
    header {
      display: flex;
    }

    .desktopOnly {
      display: block;
    }

    ul {
      display: flex;
    }

    #burger {
      display: none;
    }

    nav > div {
      display: flex;
      justify-content: flex-end;
      line-height: 0.8em;
    }

    #logo {
      position: absolute;
      top: 20px;
      left: 20px;
    }
  
    .aCnx {
      background: #4d22ff;
      color: #ffffff;
    }

    /*** Extra large  ::  viewports > 1200  ::  Utility class ***/
    /*** Extra large  ::  viewports > 1200  ::  Common class  ***/
  }
  
  /* ========================================================================== */
  /*
   * Hide visually and from screen readers
   */
  
  .hidden,
  [hidden] {
    display: none !important;
  }
  
  /*
   * Hide only visually, but have it available for screen readers:
   * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
   *
   * 1. For long content, line feeds are not interpreted as spaces and small width
   *    causes content to wrap 1 word per line:
   *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
   */
  
  .sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
  }
  
  /*
   * Extends the .sr-only class to allow the element
   * to be focusable when navigated to via the keyboard:
   * https://www.drupal.org/node/897638
   */
  
  .sr-only.focusable:active,
  .sr-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
  }
  
  /*
   * Hide visually and from screen readers, but maintain layout
   */
  
  .invisible {
    visibility: hidden;
  }
  
  /*
   * Clearfix: contain floats
   *
   * For modern browsers
   * 1. The space content is one way to avoid an Opera bug when the
   *    `contenteditable` attribute is included anywhere else in the document.
   *    Otherwise it causes space to appear at the top and bottom of elements
   *    that receive the `clearfix` class.
   * 2. The use of `table` rather than `block` is only necessary if using
   *    `:before` to contain the top-margins of child elements.
   */
  
  .clearfix::before,
  .clearfix::after {
    content: " ";
    display: table;
  }
  
  .clearfix::after {
    clear: both;
  }
  
  /* ==========================================================================
     EXAMPLE Media Queries for Responsive Design.
     These examples override the primary ('mobile first') styles.
     Modify as content requires.
     ========================================================================== */
  
  @media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
  }
  
  @media print,
    (-webkit-min-device-pixel-ratio: 1.25),
    (min-resolution: 1.25dppx),
    (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
  }
  
  /* ==========================================================================
     Print styles.
     Inlined to avoid the additional HTTP request:
     https://www.phpied.com/delay-loading-your-print-css/
     ========================================================================== */
  
  @media print {
    *,
    *::before,
    *::after {
      background: #fff !important;
      color: #000 !important;
      /* Black prints faster */
      box-shadow: none !important;
      text-shadow: none !important;
    }
  
    a,
    a:visited {
      text-decoration: underline;
    }
  
    a[href]::after {
      content: " (" attr(href) ")";
    }
  
    abbr[title]::after {
      content: " (" attr(title) ")";
    }
  
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]::after,
    a[href^="javascript:"]::after {
      content: "";
    }
  
    pre {
      white-space: pre-wrap !important;
    }
  
    pre,
    blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
    }
  
    /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
      display: table-header-group;
    }
  
    tr,
    img {
      page-break-inside: avoid;
    }
  
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
  
    h2,
    h3 {
      page-break-after: avoid;
    }
  }
  
  